<!DocType HTML>

<html>
  <head>
    <meta charset = "UTF-8" />
    <title>VAWN</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     <h1 id="name">
       VAWN
     </h1>
     <h2 id="desc">
       A virtual assistant works on Node.js
     </h2>
    <script src="main.js"></script>
  </body>
</html>