html,body{
	margin:0;
	padding:0;
	background-color:navy;
	width:100vw;
	height:100vh;
	font-family: 'Orbitron', sans-serif;
}
#top{
	display:flex;
	flex-direction:column;
}
#name{
	width:100%;
	text-align:center;
	color:white;
	font-size:22vmin;
	font-weight:900;
	margin-bottom:0;
}
#desc{
	width:100%;
	text-align:center;
	color:silver;
	font-size:8vmin;
	font-weight:700;
}
#command{
	width:90%;
	margin:0 auto;
	background-color:rgba(0,0,0,0.5);
	padding:3vmin;
}
.func{
	background-color:gray;
	color:white;
	padding:1vmin;
	border-radius:3px;
	margin-bottom:3vmin;
}
.f-name{
	background-color:black;
	font-size:7vmin;
	border-radius:5px;
	margin-bottom:1vmin;
	padding:1vmin;
}
.f-desc{
	background-color:black;
	border-radius:5px;
	padding:1vmin;
	font-size:3vmin;
}
.f-desc>p{
	margin:0;
	font-size:3vmin;
}